@font-face {
    font-family 'CascadiaCode'
    src url('../style/CascadiaCode.ttf')
}

color-blue = #1da1f2
color-blue-opacity = rgba(29, 161, 242, 0.15)
color-red-opacity = rgba(242, 29, 29, 0.15)
default-font-color = #0f1419
minor-font-color = #5b7083
border-line-color = #e7eaec
background-color = #f7f9fa
th-font = #0f1419
th-color-sing = #a3ddfb
th-color-dual = #a3ddfb
td-color-sing = #d9e8ff4d
td-color-dual = #c7e0fb4d
